* {
    box-sizing: borderbox;
}


.container-main {    
    display: flex;
    flex-direction: column;
}

.house-pics {
    display: flex;

    
   
}

.house-figure {
    margin: 0;
    margin-bottom: 10px;

    
}

.house {
    width: 100%;
    display: block;
    height: 145px;

    box-shadow: 0px 5px 9px -8px  rgb(97, 97, 97, 0.7); 
    border-bottom: 1px solid rgba(158, 158, 158, 0.5);  
}

.body{
    height: 90%;
}

h1 {
    text-transform: uppercase;
    text-decoration: underline;
    font-weight: 400;
    margin-left: 40px;
    color: rgba(146, 26, 26, 0.788);
    font-size: 38px;
    letter-spacing: 5px;    
}

h2 {
    font-weight: 400;
    font-size: 22px;
    color: rgb(146, 26, 26);
    text-decoration: underline;

    margin-bottom: 2px;
  
}

.body-text {
    margin: 0px 40px;
    color: rgb(146, 26, 26);
}

.para:last-of-type {
    margin-bottom: 40px;
}

.phone-svg {
    height: 20px;
    width: 20px;
}

p {
    font-size: 17px;
}
